.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 0 1rem;*/
    /*height: 3rem;*/
    /*background-color: #fff;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.dark-mode{
    background-color: black;
}

.dark-mode h1 {
    color: white;
}
